html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    flex-grow: 1;
}

#contact-title {
    margin-top: 2rem;
}

img {
    width: 2rem;
}

table a {
    color: #ffc107;
}
