#picture-container{
    margin-top: 3rem;
}

#oscar-picture {
    margin-top: 2vh;
    width: 40vh;
}

/* #oscar-title {
    
}*/

#about-title {
    font-size: 10vh;
}

#about-text {
    font-size: 4vh;
}

#skills-title {
    font-size: 10vh;
    margin-top: 1rem;
}

#skills-text{
    font-size: 4vh;
}
